/*
Import the font stylesheet.
*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

.desc-rendering {
  -ms-interpolation-mode: bicubic; /* Default interpolation mode for IE */
  image-rendering: auto; /* Default rendering mode */
}

/* Unselectable text */
.desc-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Centering */
.desc-center {
  text-align: center;
  align-content: center; }

/* Rotate object 90 degrees */
.desc-rotate-90 {
  /* Rotate 90 degrees */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  /* Rotate from center-left side */
  -ms-transform-origin: 0% 50%;
  /* IE 9 */
  -webkit-transform-origin: 0% 50%;
  /* Chrome, Safari, Opera */
  transform-origin: 0% 50%; }
 
/**
* BUTTON STYLING
*/
/* Button style */
.desc-button {
    /* Hide default button styles */
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    /* Background */
    background: url("Assets/button_H22.png") no-repeat no-repeat;
    background-clip: padding-box;
    background-origin: padding-box;
    background-position: center;
    background-size: 100% 100%;
    /* Font size */
    font-size: 1.0em;
    /* Default size and display */
    max-width: 100%;
    min-width: 140px;
    height: 60px;
    display: inline-block;
    /* Padding */
    padding-left: 35px;
    padding-right: 35px; }

/* Button hover */
.desc-button.hover,
.desc-button:hover {
    background-image: url("Assets/button_H22-active.png"); }

/* Button pressed */
.desc-button.active,
.desc-button:active {
    background-image: url("Assets/button_H22-pressed.png"); }

/* Large button style */
.desc-button2 {
    /* Hide default button styles */
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    /* Background */
    background: url("Assets/large-button.png") no-repeat no-repeat;
    background-clip: padding-box;
    background-origin: padding-box;
    background-position: center;
    background-size: 100% 100%;
    /* Font size */
    font-size: 1.0em;
    /* Default size and display */
    max-width: 100%;
    min-width: 140px;
    height: 60px;
    display: inline-block;
    /* Padding */
    padding-left: 35px;
    padding-right: 35px; }

/* Button hover */
.desc-button2.hover,
.desc-button2:hover {
    background-image: url("Assets/large-button-active.png"); }

/* Button pressed */
.desc-button2.active,
.desc-button2:active {
    background-image: url("Assets/large-button-pressed.png"); }


/**
* CHECKBOX STYLING
*/
/* Checkbox style */
.desc-content input[type=checkbox].desc-checkbox{
    display: none;}

.desc-content input[type=checkbox].desc-checkbox + label {
    background: url("Assets/checkbox.png") no-repeat;
    line-height: 24px;
    display: inline-block;
    background-size: auto 100%;
    padding-left: 34px;
    height: 24px;
    margin-top: 10px;
    margin-bottom: 10px; }

.desc-content input[type=checkbox].desc-checkbox:checked + label {
    background: url("Assets/checkbox-pressed.png") no-repeat;
    line-height: 24px;
    display: inline-block;
    background-size: auto 100%;
    padding-left: 34px;
    height: 24px; }

/* Hover styles */
.desc-content input[type=checkbox].desc-checkbox + label:hover {
    background: url("Assets/checkbox-active.png") no-repeat;
}

.desc-content input[type=checkbox].desc-checkbox:checked + label:hover {
    background: url("Assets/checkbox-active-pressed.png") no-repeat;
}

/**
 * Global content styling
 */
/* Game div with background image */
.desc-content {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  font-size: 0.8em;
}

/* General Styling for Content Elements */
/* This rule applies general styling to all elements within the content area. */
/* It ensures consistent behavior by removing outlines, drag effects, and tap highlights. */
/* Images render with default settings, and 'Gentium Plus' font is used for text elements. */
.desc-content * {
  outline: none;
  /*user-drag: none;*/
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  image-rendering: auto;
  font-family: 'Gentium Plus', serif;
}

/**
 * Customized Divs (Containers) and Framed Objects
 */
/* This section pertains to the styling of customized divs (containers) and framed objects. */
/* It defines rules for applying background and frame images to enhance visual elements. */
/* game div without background image*/
.desc-container {
  /* position style and default z */
  position: fixed;
  z-index: 10;
  overflow: show; }

/* game div with background image*/
.thin-border {
  /* border */
  border-style: solid;
  border-image-source: url("Assets/thin_opaque-border.png");
  border-image-repeat: repeat;
  border-image-slice: 10;
  border-image-width: 10px;
  border-width: 10px;
  padding: 12px;
  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("Assets/thin_opaque-background.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; }

/* game div with background image and strong border */
.strong-border {
    /* border */
  border-style: solid;
  border-image-source: url("Assets/strong_opaque-border.png");
  border-image-repeat: repeat;
  border-image-slice: 30;
  border-image-width: 30px;
  border-width: 20px;
  padding: 12px;
  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("Assets/strong_opaque-background.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; }

/* game div with background image and lite border */
.lite-border {
    /* border */
  border-style: solid;
  border-image-source: url("Assets/lite_opaque-border.png");
  border-image-repeat: repeat;
  border-image-slice: 8 8 8 8;
  border-image-width: 18px;
  border-width: 15px;
  padding: 12px;
  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("Assets/lite_opaque-background.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; }

/* game div with background image and thick border*/
.thick-border {
  position: relative;
  /* border */
  border-style: solid;
  border-image-source: url("thick_opaque-border.png");
  border-image-repeat: repeat;
  border-image-slice: 3 3 3 3;
  border-image-width: 7px;
  border-width: 7px;
  padding: 12px;
  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("thick_opaque-background.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; }

/**
 * Different Cursor Graphics
 */
/* Default Cursor (Important) */
/* This rule applies a custom cursor class when explicitly requested. */
/* It defines the default cursor appearance, enhancing clarity and user experience. */
.desc-cursor-default {
  cursor: url("Assets/cursor/normal.png"), auto !important; }

/* Default Cursor (Not Important) */
/* This rule sets the default cursor for elements without specific cursor styling. */
/* It maintains consistent cursor behavior across elements that don't have other cursor rules. */
.desc-content,
label {
  cursor: url("Assets/cursor/normal.png"), auto; }

/* Pointer / Hand Cursor (Important) */
/* This rule applies a custom cursor class when explicitly requested. */
/* It ensures the use of a hand cursor to signify clickable elements as intended. */
.desc-cursor-point,
.desc-cursor-point * {
  cursor: url("Assets/cursor/select.png") 10 0, auto !important; }

/* Pointer / Hand Cursor (Not Important) */
/* This rule targets elements that have the default pointer cursor, applying the hand cursor appearance. */
/* It enhances user experience by indicating interactive elements that can be clicked. */
.desc-content a,
.desc-content button,
.desc-button,
.desc-slider-container,
.desc-content input[type=radio].desc-radio + label,
.desc-list-imp,
.desc-dropdown-imp,
.desc-content input[type=checkbox].desc-checkbox + label {
  cursor: url("Assets/cursor/select.png") 10 0, auto; }

/* Cursor Style for Input / Text Selection (Important) */
/* This rule applies a custom cursor class when explicitly requested. */
/* It is specifically designed for controlling the cursor appearance during input and text selection. */
.desc-cursor-select,
.desc-cursor-select * {
  cursor: url("Assets/cursor/ibeam.png") 10 0, auto !important; }

/* Styling for Input and Text Selection */
/* This rule targets elements with the default pointer cursor, ensuring consistent styling */
/* It pertains to input elements and text selection behavior and is not marked as important. */
.desc-cursor-select,
.desc-content input,
.desc-content textarea {
  cursor: url("Assets/cursor/ibeam.png") 10 0, auto; }

/* Cursor style for grabbing */
/* This rule applies the custom cursor when the cursor class is explicitly requested. */
/* It ensures that the custom cursor is applied to all elements within the grabbing context. */
.desc-cursor-grab,
.desc-cursor-grab * {
  cursor: url("Assets/cursor/move_drag.png") 10 0, auto !important; }

/**
 * Customized Dropdown Styling
 */
/* Dropdown Box Implemented with List (Refer to gui.js for Details) */
/* Note: This class rule impacts both the dropdown header and the list elements. */
.desc-dropdown-imp,
.desc-dropdown {
  /* font */
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  /* default size */
  min-height: 40px;
  margin-top: 0px;
  /* border */
  border-style: solid;
  border-width: 7px 7px 7px 7px;
  -moz-border-image: url("Assets/selection2-.png") 10% repeat repeat;
  -webkit-border-image: url("Assets/selection2-.png") 10% repeat repeat;
  -o-border-image: url("Assets/selection2-.png") 10% repeat repeat;
  border-image: url("Assets/selection2-.png") 10% repeat repeat;
  /* background */
  background: url("Assets/selection2-background.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; }

/* Styling for Dropdown Options List */
/* This rule targets the options list of the dropdown, controlling its padding and z-index. */
ul.desc-dropdown-imp {
  padding: 0 0 0 0 !important;
  z-index: 100; }

/* Note: This rule applies exclusively to the dropdown header. */
/* It displays the currently selected value from the select element. */
/* It ensures proper text color, height, padding, margin, and positioning. */
.desc-content .desc-dropdown-imp-header {
  color: white !important;
  min-height: 22px !important;
  padding: 5px 10px 0 10px !important;
  margin: 0 0 0 0 !important;
  position: relative !important; }

/* dropdown options */
.desc-dropdown-imp li {
  /* font */
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  height: 16px;
  /* remove the dot */
  list-style-type: none;
  /* padding */
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  /* background */
  background: url("Assets/selection2-background.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; }

/* Dropdown options hover */
.desc-dropdown-imp li:hover {
  color: #FFC200; }

/* Dropdown hover */
.desc-dropdown-imp:hover {
  color: #FFC200; }

/**
 * HR Styling
 */
/* RPGUI Horizontal Rule */
/* This rule applies styling to horizontal rule elements within the desc-content. */
.desc-content hr {
  display: block;
  border: 0px;
  height: 10px;
  background: url("") repeat-x top left; } /* IMPORTANT! MISSING ASSET */

/* RPGUI Golden Horizontal Rule */
/* This rule adds a golden variation of the horizontal rule for special sections. */
.desc-content hr.golden {
  display: block;
  border: 0px;
  height: 10px;
  background: url("") no-repeat top left; /* IMPORTANT! MISSING ASSET */
  background-size: 100% 100%; }


/**
 * Input Styling
 */
/* Input and Textarea Styling */
/* This rule defines the styling for input and textarea elements within desc-content. */
.desc-content input,
.desc-content textarea {
  /* Set size and colors */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 0.9em;
  line-height: 32px;
  background: #4e4a4e;
  max-width: 100%;
  width: 100%;
  padding-left: 10px;
  /* For IE */
  min-height: 30px;
  /* Enable text selecting */
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5); }

/* Textarea extra rules */
.desc-content textarea {
  line-height: 22px;
  padding-top: 7px;
  height: 80px;
  resize: none; }

/* Selection highlight */
.desc-content input::selection,
.desc-content textarea::selection {
  background: rgba(0, 0, 0, 0.5); }

.desc-content input::-moz-selection,
.desc-content textarea::-moz-selection {
  background: rgba(0, 0, 0, 0.5); }

/* Custom Dropdown Styling Implemented with List */
/* This rule applies styling to a dropdown box implemented using a list structure, as detailed in gui.js. */
/* Note: This class rule impacts both the dropdown header and the list elements. */
.desc-list-imp {
  /* font */
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  /* default size */
  min-height: 40px;
  margin-top: 0px;
  /* scrollers */
  overflow-x: hidden;
  overflow-y: scroll;
  /* border */
  border-style: solid;
  border-width: 7px 7px 7px 7px;
  -moz-border-image: url("Assets/selection2-.png") 10% repeat repeat;
  -webkit-border-image: url("Assets/selection2-.png") 10% repeat repeat;
  -o-border-image: url("Assets/selection2-.png") 10% repeat repeat;
  border-image: url("Assets/selection2-.png") 10% repeat repeat;
  /* background */
  background: url("Assets/selection2-background.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; }

/* dropdown options list */
ul.desc-list-imp {
  padding: 0 0 0 0 !important;
  z-index: 100; }

/* dropdown options */
.desc-list-imp li {
  /* font */
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  height: 16px;
  margin-left: 5px !important;
  /* remove the dot */
  list-style-type: none;
  /* padding */
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  /* background */
  background: url("Assets/selection2-background.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; }

/* list options hover */
.desc-list-imp li:hover {
  color: #FFC200; }

/* list hover */
.desc-list-imp:hover {
  color: #FFC200; }

.desc-list-imp .rpgui-selected {
  background: rgba(0, 0, 0, 0.3); }


/**
* Paragraphs and headers while inside desc-content.
*/
/* Default GUI header */
.desc-content h1 {
  /* Colour and border */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.14em;
  /* Center text */
  text-align: center;
  /* Padding */
  padding: 0 0 0 0;
  margin: 7px 7px 17px 7px; }


/* Default GUI header2 */
.desc-content h2 {
  /* Colour and border */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.25em;
  /* Center text */
  text-align: center;
  /* Padding */
  padding: 0 0 0 0;
  margin: 7px 7px 17px 7px; }

/* Default GUI header3 */
.desc-content h3 {
  /* Colour and border */
  color: white;
  font-weight: 1;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.15em;
  text-decoration: underline;
  /* Center text */
  text-align: center;
  /* Padding */
  padding: 0 0 0 0;
  margin: 7px 7px 17px 7px; }

/* Default GUI header4 */
.desc-content h4 {
  /* Colour and border */
  color: white;
  font-weight: 1;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.0em;
  text-decoration: underline;
  /* Center text */
  text-align: center;
  /* Padding */
  padding: 0 0 0 0;
  margin: 7px 7px 17px 7px; }

/* Default p */
.desc-content p {
  /* Colour and border */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.0em;
  line-height: 22px; }

/* Default span */
.desc-content span {
  /* colour and border */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.0em;
  line-height: 22px; }

/* Default GUI link */
.desc-content a {
  /* Colour and border */
  color: #FFC200;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.0em;
  line-height: 22px;
  text-decoration: none; }

/* Default GUI link */
.desc-content a:hover {
  text-decoration: underline; }

/* Default GUI label */
.desc-content label {
  /* Colour and border */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.0em;
  line-height: 20px;
  display: inline; }

/* Default GUI label */
.desc-content li {
  /* Colour and border */
  margin-left: 20px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.0em;
  line-height: 22px; }

/*
 * Progress Bar Styling
 */
/* This section will contain code for styling the progress bar in the future. */
/* The progress bar's appearance and design will be defined here. */

/**
 * Radio Button Styling
 */
/* Radio Button Style */
.desc-content input[type=radio].desc-radio {
  display: none; }

.desc-content input[type=radio].desc-radio + label {
  background: url("Assets/radiobox.png") no-repeat;
  line-height: 24px;
  display: inline-block;
  background-size: auto 100%;
  padding-left: 34px;
  height: 24px;
  margin-top: 8px;
  margin-bottom: 8px; }

.desc-content input[type=radio].desc-radio:checked + label {
  background: url("Assets/radiobox-pressed.png") no-repeat;
  line-height: 24px;
  display: inline-block;
  background-size: auto 100%;
  padding-left: 34px;
  height: 24px; }

/* Hover styles */
.desc-content input[type=checkbox].desc-radio + label:hover {
    background: url("Assets/radiobox-active.png") no-repeat;
}

.desc-content input[type=checkbox].desc-radiobox:checked + label:hover {
    background: url("Assets/radiobox-active-pressed.png") no-repeat;
}

/**
 * Miscellaneous and General Styling Rules
 */
/* Styling Rules for Various Miscellaneous and General Elements */
/* This section contains rules that address different styling aspects and general enhancements. */

/* WebKit Scrollbar Styling */
/* These rules define the styling for scrollbars in WebKit browsers, such as Chrome. */
.desc-content ::-webkit-scrollbar,
.desc-content::-webkit-scrollbar {
  width: 18px; }

/* Handle */
.desc-content ::-webkit-scrollbar-thumb,
.desc-content::-webkit-scrollbar-thumb {
  background-image: url("Assets/scrollhorizontal.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

/* TO BE ADDED: Rules for Scrollbar Track and Scrollbar Buttons */
/* This section will contain rules that address the styling of the scrollbar track and scrollbar buttons, as well as hover styling for the scrollbar thumb. */

/**
 * Styling for Disabled Elements
 */
/* Rules for Disabled Elements */
/* This section defines styling rules for elements that are disabled, ensuring visual consistency and feedback. */

/* Styling for Disabled Objects */
/* These rules apply to elements with the .desc-disabled class and other specific disabled elements. */
/* They adjust the cursor, apply grayscale filter, and set color to provide a clear indication of the disabled state. */
.desc-disabled,
.desc-content :disabled,
.desc-content input[type=radio]:disabled + label,
.desc-content input[type=checkbox]:disabled + label,
.desc-content input[type=range]:disabled + .desc-slider-container,
.desc-content :disabled + .desc-dropdown-imp,
.desc-content :disabled + .desc-dropdown-imp + .desc-dropdown-imp,
.desc-content :disabled + .desc-list-imp {
  cursor: url("Assets/cursor/normal.png"), auto;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  color: #999; }

/**
 * Slider Styling Rules
 */
/* Styling Rules for Sliders */
/* slider container */
.desc-slider-container {
  height: 20px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative; }

/* Slider Thumb Styling */
.desc-slider-thumb {
  position: absolute;
  height: 30px;
  width: 15px;
  margin-top: -5px;
  left: 40px;
  background-image: url("Assets/slider.png");
  background-size: 100% 100%; }

/* TO BE ADDED: Rules for Slider Track and Slider Edges */
/* This section will contain rules that address the styling of the slider background track and the edges of the slider, as well as hover styling for the thumb element. */
